*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 0px;
}

.navbar{
  display: flex;
  height: 70px;
  background-color: orange;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 5px;
  background-image: url(.."cover.jpeg"); 
}

.flex {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cook{ height: 25px;
  width: 20px;
  padding: ;
}

ul{
  list-style-type: none; 
}

a{
  text-decoration: none;
}

.navbar ul{
  display: flex;
}

.navbar a, .active{
  padding: 10px;
  justify-content: center;
}

.navbar a{
  color: white;
}

.navbar a:hover,
.navvar a.active{
  border-bottom: 2px white solid;
  border-radius: 10px;
}

.logo span{
  color: red;
}
.bg, .sbg{
  width: 100%;
  height: 300px;
  position: absolute;
  align-items: center;
}

h1, p, .p{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30px;
  font-size: 20px;
  
}

.log, .secs, .slog {
  font-size: 30px;
  color: red;
  border-shadow: black;
}

.slog {
  justify-content: center;
}

p{
  color: white;
  font-size: 25px;
  padding: 0;
}

.btn{
  position: relative;
  justify-content: center;
  display: flex;
  background: orange;
  border-radius: 25px; 
  padding: 0 4px;
}

button{
  display: flex;
  margin: 0 270px;
  border-radius: 25px;
  padding: 0 2px;
}

.package{
  padding-top: 80px; 
}

.pd, .food, .food1, .food2, .food3{
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

package, .caty{
  background-color: gray;
  color: orange;
  height: 40px;
  align-items: center;
}

.copy{ background: gray;
  color: black;
  width: 100%;
  height: 50px;
  font-size: 15px;
  align-items: center;
  position: sticky;
}

.wwo{
  color: blue;
  font-size: 15px;
}

.btn1{
  display: grid;
  background: orange;
  border-radius: 25px; 
  padding: 2px 4px;
  margin: 10px;
}

.socials{
  width: 5%;
  height: 15px;
  color: white;
  background: gray;
  display: flex;
  justify-content: space-between;
}



.footer{
  width: 100%;
}

.payment gateway.

.containercard{
display: flex;
Justify-content: center;
align-items: center;
padding:25px;
min-height: 100;
padding-botton: 70px;
background: linear-gradient (90deg, #2ecc71  60%, #27ae60  40.1%);
  margin-left: 20px;
}

.containercard form{
  padding: 20px;
  width:300px;
  background:#fff;
  box-shadow: 0 5px 10px rgba(0,0,0,1);
 /* margin-left: 30px;
*/}

.containercard form .row .col h2 .title{
  background: orange;
}

.containercard form .row .col{
    Flex: 1 1 250px;
}

.containercard form row .col {
  font-size: 20px;
  color: #333;
padding-bottom: 5px;
text-transform: uppercase; }

.containercard form .row.col.InputBox{
margin:15px 0; }

.containercard form.row .col .InputBox span { margin-bottom:10px;
display: block; }


.containercard form .row .col .inputBox input {
Width: 100%;
Border: 1px solid #ccc;
Padding: 10px 15px;
Font-size: 15px;
  Text-transform: none;
}


.containercard form .row .col.inputBox Input: Focus{ border:1px solid #000;}

.containercard form .row.col.flex{
  display: flex;}

h3 .title{
  background: orange;
  
}

.pay{
  height: 20px;
  width: 30px;
  padding: 2px;
  border-radius: 5px;
  background: orange;
}

.btn3, .font{
  position: relative ;
  justify-content: center;
  display: flex;
  background: orange;
  border-radius: 10px; 
  padding: 0 4px;
  width: 70px;
  font-size: 10px;
}

.btn4, font1{
  position: relative ;
  justify-content: center;
  display: flex;
  background: orange;
  border-radius: 10px; 
  padding: 0 4px;
  width: 40px;
  font-size: 2px;
}

.bck{
  position: relative ;
  justify-content: center;
  display: flex;
  background: orange;
  border-radius: 10px; 
  padding: 0 4px;
  width: 25px;
  font-size: 10px;
  padding: 5px;
}




@media (max-width: 768px){
  .navbar{
    height: 110px;
  }
  .navbar, .flex{
    flex-direction: column;
  }
  .navbar ul{
    padding: 10px;
    align-items: center;
    }

    h1{
      display: flex;
      justify-content: center;
      position: relative;
      /* padding: 30px; */
      font-size: 20px;
    }

    .navbar ul {
      padding: 5px;
      align-items: center;
    }

    .navbar a{
      padding: 5px;
      justify-content: center;
    }
    
    p, .p {
      /* display: flex; */
      /*justify-content: center;*/
      position: relative;
      text-align: center;
      /* padding: 30px; */
      /* font-size: 20px; */

      p {
        color: #FFF;
        font-size: 15px;
        padding: 0px;
      }
    }

    button {
      display: flex;
      margin: 0px 130px;
      border-radius: 25px;
      padding: 0px 2px;
      align-content: center;
    }

    .bg, .sbg {
      width: 100%;
      height: 220px;
      position: absolute;
      align-items: center;
    }

    h1, p, .p {
      display: flex;
      justify-content: center;
      position: relative;
      padding: 5px;
      font-size: 20px;
    }

    .containercard form {
      padding: 20px;
      width: 300px;
      background: #FFF none repeat scroll 0% 0%;
      box-shadow: 0px 5px 10px #000;
      margin: 10px;
       }

       
      
      
}

